h3 Helpdesk
h4 New request.
p.mb-0 Autor: #{@request.owner}
p.m-0 Lokalizacja: #{@request.location.name}
p.m-0 Temat: #{@request.name}
br
p.m-0 = link_to 'request link', @link
p.m-0 Utworzono:  #{@request.created_at}