@import "../node_modules/bootstrap/scss/bootstrap";

body {
  background-color: #101011 !important;
  @extend .text-light;
}

.bg-warm-dark {
  background-color: #222225 !important;
}

.edit-profile {
  max-width: 700px;
}

.my-table-centered {
  @extend .d-flex, .justify-content-center;
  align-items:center;
}

.restrict_text {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 50px;
}