@import "../node_modules/bootstrap/scss/bootstrap";

#login-box {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -200px;
  width: 400px;
  background-color: #1B1B1D;
  border-radius: 8px;
  padding: 20px;

  & input[type=email], & input[type=password] {
    background-color: #222225 !important;
    @extend .text-light;
    margin: 8px;
    width: 100%;
    padding: 0.375rem 0.75rem;
    line-height: 1.7;
    margin-left: 0 !important;
    margin-right: 0 !important;
    border: none;
    border-color: #303035 !important;
    border-bottom: 1px solid;
    border-radius: 4px;

  }
  & input[type=email]:focus, & input[type=password]:focus,
  & input[type=email]:focus-visible, & input[type=password]:focus-visible {
    outline: none !important;
  }

  & input[type=checkbox] {
    @extend .bg-dark;
    @extend .text-light;
  }

  label {
    display: block;
    color: #757575;
  }
  & input[type=checkbox] {
    border-color: #303035 !important;
  }

  & input:-webkit-autofill,
  & input:-webkit-autofill:hover,
  & input:-webkit-autofill:focus,
  & input:-webkit-autofill:active,
  & input:-webkit-autofill:valid,
  & select:-webkit-autofill,
  & select:-webkit-autofill:hover,
  & select:-webkit-autofill:focus
  {
      -webkit-transition-delay: 99999s;
      -webkit-text-fill-color:#757575;
  }
}