@import "../node_modules/bootstrap/scss/bootstrap";

.table-row-top {
  border-radius: 8px 8px 0 0;
  border:1px solid #303030;
  border-bottom: none;
}

.table-row-bottom {
  border-radius: 0 0 8px 8px;
  border:1px solid #303030;
  border-top: none;
}